html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.name-text {
  color: white;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  text-align: center;
  text-decoration: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.myself {
  background-image: url("foto.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.myself-text {
  color: white;
  text-align: center;
  width: 40%;
  padding-right: 6%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: 50px;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.hobby {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.hobby-text {
  color: white;
  text-align: center;
}

.university {
  background-color: rgb(12, 12, 31);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.university-text {
  color: white;
  text-align: center;
}

@media (max-width: 767px) {
  .navbar {
    display: none;
  }
  .myself {
    justify-content: center;
  }
  .myself-text {
    text-align: center;
    width: 100%;
    padding-right: 0;
    margin-right: 20px;
    margin-left: 20px;
  }
}